.row.sub-header
  .span10.columns
    %img.big-icon{:src => asset_path("#{@test_round.result}.png")}
    %h2
      =link_to "Test Rounds", project_test_rounds_path(@project), :remote => true
      %span= " / #{@test_round.test_type.name}##{@test_round.id}"
  .span6.columns#right
    %span.creation-info= "Created by #{@test_round.creator.display_name}"

= render 'brief_info'
.list-content-box
  = render :partial => 'automation_script_results/list', :locals => {:project => @project, :automation_script_results => @automation_script_results, :test_round => @test_round, :search => @search}