.row.sub-header
  .span9.columns
    %img.big-icon{:src => asset_path("#{@test_round.result}.png")}
    %h2
      =link_to "Test Rounds", project_test_rounds_path(@project), :remote => true
      %span= " / #{@test_round.test_type.name}##{@test_round.id}"    
  .span6.columns#right
    -if can? :create, TestRound and @test_round.state == 'completed'
      .span3{}
        -unless @test_round.exported_to_testlink?
          %input.btn.primary.save_to_testlink_btn{:type => "button", :value => "Save to Testlink",:style=>"float: right;"}
      .span3{:style=>"float: right;"}
        = link_to 'Export Result', functional_generate_automation_results_report_path(format: "csv", :test_round_id => @test_round.id),{:method=> :post, :class => 'btn primary',:style=>"float: right;"}


= render 'brief_info'
.list-content-box
  = render :partial => 'automation_script_results/list', :locals => {:project => @project, :automation_script_results => @automation_script_results, :test_round => @test_round, :search => @search}

#save_to_testlink_info.modal.fade{:style => "display: none; "}
  .modal-header
    %h3 Save test result to Testlink
  .clearfix  
    = form_tag("/projects/#{@test_round.project.id}/test_rounds/#{@test_round.id}/save_to_testlink",{:remote => true}) do
      %fieldset
        .clearfix
          = label_tag 'Test Plan Name'
          .input
            = text_field_tag 'test_plan_name'
        .clearfix
          = label_tag 'Build Name'
          .input
            = text_field_tag 'build_name'
        .clearfix
          = label_tag 'Platfrom Name'
          .input
            = text_field_tag 'platform_name'
        .clearfix
          = label_tag 'Email Notification'
          .input
            = text_field_tag 'email'
        .modal-footer
          = submit_tag 'Save to Testlink', {:class=>'btn primary',:id => 'confirm_save'}    
          %input.btn.cancel_button{:type => "button", :value => "Cancel",:style=>"float: right;"}


:javascript
  $(function(){    
    $("input.save_to_testlink_btn:not(:disabled)").click(function(){
      $('#save_to_testlink_info').css("display", "block");
      $(this).addClass("disabled");
      $(this).disabled = true;
      $('.cancel_button').live('click',function(e){
        $('#save_to_testlink_info').css("display", "none");
        $('input.save_to_testlink_btn').removeClass("disabled");
        $('input.save_to_testlink_btn').disabled = false;
      });
      $('#confirm_save').live('click',function(e){

        $('#save_to_testlink_info').css("display", "none");
        $('input.save_to_testlink_btn').remove();
      });
    });
  })