.page-header
  %h2 Listing Test Suites
  -if can? :create, TestSuite
    = link_to 'New Test Suite', new_admin_project_test_suite_path(project), :class => 'btn primary'
  = form_for @search, :url => admin_project_test_suites_path, :remote => true do |f|
    %span.search
      = f.text_field :name_or_test_type_name_or_creator_display_name_contains, {:id => 'search'}
      = f.submit '', {:class => 'btn', :id => 'searchsubmit'}
.test-suites
  %table.zebra-striped
    %tr
      %th Name
      %th Test Type
      %th Creator
      %th Created At
      %th
    - if test_suites.nil? or test_suites.count == 0
      %tr
        %td{:colspan => "4"}
          %h4 No data
    - else
      - test_suites.each do |test_suite|
        %tr
          %td= test_suite.name
          %td= test_suite.test_type.name
          %td= test_suite.creator.display_name
          %td= in_time_zone(test_suite.created_at)
          - show_url, edit_url, delete_url = nil
          - if can? :update, TestSuite
            - edit_url = edit_admin_project_test_suite_path(project, test_suite)
          - if can? :delete, TestSuite
            - delete_url = admin_project_test_suite_path(project, test_suite)       
          = render :partial => 'partial/table_actions', :locals => {:show_url => show_url, :edit_url => edit_url, :delete_url => delete_url}

= link_to 'Back', admin_project_path(project), :class => 'btn'

= paginate test_suites