.page-header
  %h1 Listing Projects

%table.zebra-striped
  %tr
    %th Name
    %th Leader
    %th Created At
    %th Source Control Path
    %th

  - if @projects.nil? or @projects.count == 0
    %tr
      %td{:colspan => "5"}
        %h4 No data
  - else
    - @projects.each do |project|
      %tr
        %td
          %b= project.name
        %td= project.leader.display_name
        %td= in_time_zone(project.created_at)
        %td= project.source_control_path
        = render :partial => 'partial/table_actions', :locals => {:show_url => admin_project_path(project), :edit_url => edit_admin_project_path(project)}

%br

= link_to 'New Project', new_admin_project_path, :class => 'btn primary'
= link_to 'Display Order', admin_projects_display_order_path, :class => 'btn'

