.title.row
  .colorfix.span1  
  %h1.span14 Experiment Data Mining Reports for ActiveWorks
  .colorfix.span1

.clearfix

.category.row
  .category-title
    In Development Effort Tracking
  .clearfix
  .under-line
  .configs
    %table.zebra-striped
      %tbody
        %tr
          %th Name
          %th Jira Project
          %th Jira Key
          %th Jira Group
          %th Jira Version
          %th Last Data Pull At
          %th See Report
        - @configs.each do |config|
          %tr
            %td= config.name
            %td= config.jira_project
            %td= config.jira_key
            %td= config.jira_group
            %td= config.jira_version
            %td= Date.today
            %td
              %a{:href => "/dataviz/in_development_tracking_report/#{config.id}"}
                %img{:src => asset_path('show.png'), :onmouseover => "this.src='#{asset_path 'show-hover.png'}'", :onmouseout => "this.src='#{asset_path 'show.png'}'"}
  = link_to 'New', dataviz_new_in_development_tracking_config_path, :class => 'btn primary'

.category.row
  .category-title
    Sprint Tracking
  .clearfix
  .under-line


:css
  .title h1{
    font-family: Gill Sans;
    font-size: 40px;
    text-align: center;
  }
  .subtitle{
    margin-top: 20px;
  }
  .colorfix{
    background-color: #ccaa0b; 
  }
  .category{
    margin-top: 20px;
  }
  .category-title{
    font-family: Gill Sans;
    font-weight: bold;
    font-size: 28px;
  }
  .under-line{
    margin-top: 10px;
    padding: 0;
    height: 5px;
    background-color: #79b60a;
  }
  .configs{
    margin-top: 20px;
  }

:javascript
  $(function(){
    d3.selectAll('.title .colorfix').style('height', function(){
      return $('.title h1').height() + "px";
    }).style('background-color', randomColor());
    createStackChart();
  });