= form_tag(dataviz_create_in_development_tracking_config_path) do
  %fieldset
    %legend New In Development Tracking Config
    .clearfix
    .sub-title Basic Information
    .clearfix
      = label_tag 'Report Name:'
      .input
        = text_field_tag 'name', @config.name
        %span.help-block
          Use a meaningful name to help people choose most appropriate report they're looking for. If you not specify anything, a default name with 'Jira Project Name' and 'Jira Version' you specified below will be generated automatically.
    .clearfix
      = label_tag 'Jira Project Name:'
      .input
        = text_field_tag 'jira_project', @config.jira_project, :required => true
        %span.help-block
          The project name in Jira which you want to track. E.g., 'Endurance', 'Camps'.
    .clearfix
      = label_tag 'Jira Key(for the Project):'
      .input
        = text_field_tag 'jira_key', @config.jira_key, :required => true
        %span.help-block
          The Jira Key for the project you want to track. E.g., 'FNDENDR', 'FNDCAMP'.
    .clearfix
      = label_tag 'Jira Version:'
      .input
        = text_field_tag 'jira_version', @config.jira_version, :required => true
        %span.help-block
          The version input here considered as 'current' version in the effort distribution calculation. Could be Sprint version, or Release version, whatever resides in Jira Ticket's 'Fix Version' field.
    .clearfix
      = label_tag 'Jira Group:'
      .input
        = text_field_tag 'jira_group', @config.jira_group, :required => true
        %span.help-block
          The group of people(on Jira) you want to track their effort spending. This group has to be exist with correct people list setup on Jira first.
    .clearfix
      = label_tag 'Start Date:'
      .input
        = select_date @config.start_date, :prefix => :start_date
        %span.help-block
          The start date of the tracking period. This is because the date range stored in Jira for 'Version' you specified is not always correct.
    .clearfix
      = label_tag 'End Date:'
      .input
        = select_date @config.end_date, :prefix => :end_date
        %span.help-block
          The end date of the tracking period.
    .clearfix
      = label_tag 'Extra Categories:'
      .input
        %dl#extra-categories-list
        #extra-category-values

      #extra-category-template
        =text_field_tag 'extra_categories[name][]', ''
        =text_field_tag 'extra_categories[jira_key][]', ''

    .clearfix
      = label_tag 'Name:'
      .input
        = text_field_tag 'category_name'
    .clearfix
      = label_tag 'Jira Key'
      .input
        = text_field_tag 'category_jira_key'
        %button.btn#add-extra-category Add    
    .sub-title Data Pulling Schedule for this report
    .clearfix
    = label_tag 'Period'
    .input
      = text_field_tag 'period'
      %span.help-block
        Set how long it should take between two pulling.
    .clearfix
    = label_tag 'At'
    .input
      = text_field_tag 'at'
      %span.help-block
        You can specify when should the data pulling happen. For exmaple, '**:40' means when the minute is 40, then it should start. '12:40' means when hour is 12 and minute is 40, then it should start.
    .actions
      = submit_tag 'Generate', :class => 'btn primary'

:javascript
  $(function(){
    $('#extra-category-template').hide();
    $('#extra-category-values').hide();

    $('#add-extra-category').click(function(event){
      $('#extra-categories-list').append(
        $('<dt>' + $('#category_name').val() + '</dt>')
      );

      $('#extra-categories-list').append(
        $('<dd>' + $('#category_jira_key').val() + '</dd>')
      );

      $('#extra-category-values').append(
        $('#extra-category-template #extra_categories_name_').clone()
          .attr('value', $('#category_name').val())
      );

      $('#extra-category-values').append(        
        $('#extra-category-template #extra_categories_jira_key_').clone()
          .attr('value', $('#category_jira_key').val())
      );

      $('#category_name').attr('value', '');
      $('#category_jira_key').attr('value', '');

      event.preventDefault();
    });
  });

:css
  .sub-title{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 25px;
    border-bottom: solid 1px black;
  }  