.row.sub-header
  .span10.columns
    %h2
      =link_to "Test Suites", project_test_suites_path(@project)
      %span= " / "
      - ts_name = @test_suite.name
      - if ts_name && ts_name.length >= 30
        - ts_name = ts_name.slice(0,30).concat("...")
      %span{:title => @test_suite.name}= "#{ts_name}"
  .span6.columns#right
    %span.creation-info= "Created by #{@test_suite.creator.display_name}"

= render 'brief_info'
.list-content-box
  = render :partial => 'automation_scripts/list', :locals => {:automation_scripts => @automation_scripts, :project => @project, :search => @search}