= form_for [@project, @mail_notify_setting] do |f|
  -if @mail_notify_setting.errors.any?
    #error_explanation
      - @mail_notify_setting.errors.messages.each do |attr, msg|
        %span.help-inline{:id => "mail_notify_setting_#{attr}"}= msg[0]

  %fieldset
    %legend= title
    .clearfix
      =f.label :mail
      .input
        =f.text_field :mail
    .clearfix
      =f.label :test_type
      .input
        = f.select :test_type_id, options_from_collection_for_select(TestType.all, :id, :name)
    .actions
      = f.submit 'Save', :class => 'btn primary'
      = link_to 'Back', project_mail_notify_settings_path, :class => 'btn'