- test_round = @automation_script_result.test_round
- os = image_tag("#{test_round.operation_system.name}.png", class: "ui-icon")
- os = os + "  -  #{test_round.operation_system.name_with_version}"
- browser = image_tag("#{test_round.browser.name}.png", class: "ui-icon")
- browser = browser + "  -  #{test_round.browser.name_with_version}"
- slave = @automation_script_result.slave_assignments.last.slave.name
- left_titles = ['Case Id:', 'Result:','Operation System:','Browser:']
- left_values = [@automation_case_result.case_id, @automation_case_result.result, os, browser]
- right_titles = ['Priority:', 'Owner:','Slave:']
- right_values = [@automation_case_result.priority, @automation_case_result.owner.display_name, slave]
= render :partial => "partial/brief_info", :locals => {:left_titles => left_titles, :left_values => left_values, :right_titles => right_titles, :right_values => right_values}
