.row.sub-header
  .span15.columns
    %img.big-icon{:src => asset_path("#{@automation_script_result.result}.png")}
    %h2
      =link_to "Test Rounds", project_test_rounds_path(@project), :remote => true
      %span= " / "
      =link_to "#{@test_round.test_type.name}##{@test_round.id}", project_test_round_path(@project, @test_round), :remote => true
      %span=" / "
      - as_name = @automation_script_result.name
      - if as_name && as_name.length >= 30
        - as_name = as_name.slice(0,30).concat("...")
      %span{:title => @automation_script_result.name}="#{as_name}"
  .span4.columns#right
    .span2
      -sa = @automation_script_result.slave_assignments.last
      -if sa && sa.slave && @automation_script_result.end_time
        = link_to "View", test_round_automation_script_result_show_logs_path(@automation_script_result.test_round, @automation_script_result), :class => "btn primary", :style=>"float: right; line-height: 16px; padding: 5.5px 14px;"
    .span2{:style=>"float: right;"}
      - if @automation_script_result.result != "pass" && @automation_script_result.result != "pending" && @automation_script_result.triage_result == "N/A" && can?(:update, AutomationScriptResult, {:project_id => @automation_script_result.test_round.project.id}) 
        %input.btn.primary.rerun_btn{:type => "button", :value => "Rerun", "remote-data" => "/automation_script_results/#{@automation_script_result.id}/rerun", :style=>"float: right;"}
      - if @automation_script_result.result == "pending" && @automation_script_result.state != "scheduling" && can?(:update, AutomationScriptResult, {:project_id => @automation_script_result.test_round.project.id})
        - if @automation_script_result.state == "stopping"
          %input{:type => "button", :value => "Stopping", "remote-data" => "/automation_script_results/#{@automation_script_result.id}/stop", :class => "btn primary rerun_btn disabled", :disabled => "disabled"}
        - else
          %input{:type => "button", :value => "Stop", "remote-data" => "/automation_script_results/#{@automation_script_result.id}/stop", :class => "btn primary rerun_btn"}

= render 'brief_info'
= render :partial => "partial/service_info", :locals => {:asr => @automation_script_result}
.list-content-box
  = render :partial => 'automation_case_results/list', :locals => {:automation_case_results => @automation_case_results, :automation_script_result => @automation_script_result, :search => @search}

:javascript
  $(function(){
   
    $("input.rerun_btn:not(:disabled)").click(function(){
      $(this).addClass("disabled");
      $(this).disabled = true;
      $.ajax({url: $(this).attr("remote-data")}).success(function(data) {
        location.reload();
      })
    });
    
    $(".triage-result").change(function(){
      var triage_result = $("option:selected",this).text();
      var id = $(this).attr("id");
      var url = "/update_automation_script_result_triagge_result?id="+id+"&triage_result="+triage_result;
      var ele = $(this);
      $.ajax({url:url,dataType:"json"}).success(function(data) {
        if (data.result == "failed") {
          alert("Updating triage result failed, something is wrong with the server. Please try again later.");
        } else{
          $("input[remote-data='/automation_script_results/"+id+"/rerun']").remove();
          ele.parent().parent().children().first().children("img").attr("src","/assets/"+data.asr_result+".png");
          $("img.big-icon").attr("src","/assets/"+data.tr_result+".png"); ele.parent().html(triage_result);
        }
      });
    });
  });