-if flash[:error]
  .alert-message.error= flash[:error].html_safe 
  
= form_for(@user, :as => @user, :url => password_path(@user), :html => { :method => :put }) do |f|
  %fieldset
    %legend Change your password
    .clearfix
      = f.label :current_password, "Current password"
      .input
        = f.password_field :current_password
    .clearfix
      = f.label :password, "New password"
      .input
        = f.password_field :password
    .clearfix
      = f.label :password_confirmation, "Confirm password"
      .input
        = f.password_field :password_confirmation
    .actions
      = f.submit "Change my password", :class => "btn primary"
/ = render :partial => "devise/shared/links"
