= form_tag '/functional/generate_automation_status_report.csv' do
  %fieldset
    %legend Selete Projects to get Automation Status Report
    .clearfix
      - Project.all.each do |project|
        .slave_project
          = check_box_tag 'projects[]', project.name, false, {:id => "projects_#{project.name}"}
          = label_tag "slave_projects_#{project.name}", project.name
    .actions
      = submit_tag 'Generate', :class => 'btn primary'