:javascript
  var config = {
    title: "ActiveWorks #{@project} Report",
    requirement: {
      done: #{@requirements_done},
      subTitleDone: "Requirements Done",
      subTitleDuration: "Deliver Duration",
      effortDistribution: {
        dev: #{@dev_effort},
        qa: #{@qa_effort},
        bug: 90
      },
    },
    devActivities: #{@dev_activities.to_json},
    qaActivities: #{@qa_activities.to_json},
    bugActivities: #{@bug_activities.to_json}
  };
  var requirementData = #{@sample_data.to_json};
  var bug_distribution_labels = #{@requirement_titles.to_json};
  var bug_distribution_values = #{@requirement_bugs.to_json};
  var bug_distribution_links = #{@requirement_bug_links.to_json};
  var bug_priority_distribution = #{@bugs_by_priority.to_json};
  var mostBuggyRequirement = #{@most_buggy_requirement.to_json};

= javascript_include_tag "experiment/ear"

:css
  .color{
    height: 100px
  }
  #title-text{
    height: 100px
  }
  .widget{
    padding: 0;
    margin: 0;
  }
  .sub-title{
    height: 100px;
  }
  #req-duration-desc{
    height: 60px;
  }
  #req-duration-chart{
    height: 240px;
  }
  #activity-stream-title{
    height: 70px;
  }
  #activity-stream{
    height: 500px;
  }
  .sub-title{
    height: 80px;
  }
  #most-buggy, #best-quality{
    height: 50px;
  }
  #req-bug-distribution-chart{
    min-height: 400px;
  }
  .quality-badge{
    margin-top: 10px;
    min-height: 130px;
    max-height: 150px;
  }
  .placeholder{
    height: 100px;
  }
  #dev{
    margin-top: 5px;
    margin-left: 440px;
  }
  #qa, #bug{
    margin-top: 5px;
    margin-left: 70px;
  }
  .effort-spent-on-bug-table{
    min-height: 800px;
  }

#title.row.widget
  #title-color-label-left.span3.color
  %h1.span10#title-text
  #title-color-label-right.span3.color
.clearfix
#requirement-widget.widget.row
  #req-done.span8
    #req-done-title.sub-title
    #total-effort-distribution-chart
    
  #req-duration.span8
    #req-duration-title.sub-title
    #req-duration-chart
    #req-duration-desc
  
.clearfix
#activities.widget
  #activity-stream-title
  %button.btn#activity-stream-replay-btn Replay
  #activity-stream
  %input#dev{:type => 'checkbox'} Enable
  %input#qa{:type => 'checkbox'} Enable
  %input#bug{:type => 'checkbox'} Enable

.clearfix
#quality-summary
  #quality-summary-title.sub-title
  .row
    #req-bug-distribution-chart.span10
    #quality-badgets.span6
      #bugs-in-total.quality-badge
      #most-buggy.quality-badge
      #best-quality.quality-badge
  .row
    .effort-spent-on-bug-table.span8
      %table.zebra-striped
        %tbody
          %tr          
            %th Requirement
            %th Dev Effort
            %th QA Effort
            %th Bug Effort
            %th Total
          - @config.issues.where(issue_type: 'Requirement/ User Story').each do |req|
            %tr
              %td= req.key
              %td= req.time_spent_by_issue_type('Dev Sub-Task')
              %td= req.time_spent_by_issue_type('QA Sub-Task')
              %td= req.time_spent_by_issue_type('Bug Sub-Task')
              %td= req.total_time_spent
    #req-bug-priority-chart.span8