= form_tag experiment_effort_tracking_report_path do
  %fieldset
    %legend In Development Effort Tracking
    .clearfix
      = label_tag 'Project Name:'
      .input
        = text_field_tag 'project', @project
    .clearfix
      = label_tag 'Jira Project:'
      .input
        = text_field_tag 'jira_project', @jira_project
    .clearfix
      = label_tag 'Release Version:'
      .input
        = text_field_tag 'release_version', @release_version
    .clearfix
      = label_tag 'Jira Group:'
      .input
        = text_field_tag 'group', @group
    .clearfix
      = label_tag 'Start Date:'
      .input
        = select_date @start_date, :prefix => :start_date
    .clearfix
      = label_tag 'End Date:'
      .input
        = select_date @end_date, :prefix => :end_date
    .actions
      = submit_tag 'Generate'
      