:css
  #defect-removal-efficiency{
    font-size: 12px!important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  #defect-removal-efficiency .title {
     font-size:1.2em;
     padding-top:4px;
  }
  .big-overall-title {
    font-size:1.2em;
    margin-top: -20px;
  }
  .big-overall-value {
    font-size:8em;
    font-weight:bold;
    line-height:1em;
    margin-top:20px;
  }
  #overall-dre-table {
    width: 400px;
    height: 80%;
  }
  #defect-removal-efficiency {
    margin-top: 0;
  }
  #defect-removal-efficiency .value {
    font-size:1.2em;
  }
  #defect-removal-efficiency td {
    padding: 8px 0;
  }
  #defect-removal-efficiency tfoot td {
    padding: 5px 0
  }

#overall-dre-table
  %table#defect-removal-efficiency
    %thead
      %tr
        %th{:colspan => '4'} Defect Removal Efficiency
    %tbody
      %tr.overall-percentage
        %td{:colspan => '3', :rowspan => "3"}
          .big-overall-title overall percentage program-wide
          .big-overall-value= @overall_dre
        %td.framework
          .title Framework
          .value= @framework_dre
      %tr.market
        %td.platform
          .title Platform
          .value= @platform_dre
      %tr.market
        %td.membership
          .title Membership
          .value= @membership_dre
      %tr.market
        %td.endurance
          .title Endurance
          .value= @endurance_dre
        %td.camps
          .title Camps
          .value= @camps_dre
        %td.sports
          .title Team Sports
          .value= @sports_dre
        %td.swimming
          .title Swimming
          .value= @swimming_dre
    %tfoot
      %tr
        %td{:colspan => '4'} Target Rate - 5% or Lower
