#overall-dre-table
  %table#product-bugs{:cellspacing => "4"}
    %thead
      %tr
        %th{:colspan => 5} Current Customer Impacting Production Bugs
    %tbody
      %tr
        %td
        %td
        %td Sev1
        %td
        %td Sev2
      %tr
        %td.market Endurance
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@endurance.sev1_bugs_color}; width:12px; height:12px"}
        %td.count
          = @endurance.sev1_bugs
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@endurance.sev2_bugs_color}; width:12px; height:12px"}
        %td.count
          = @endurance.sev2_bugs
      %tr
        %td.market Camps
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@camps.sev1_bugs_color}; width:12px; height:12px"}
        %td.count
          = @camps.sev1_bugs
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@camps.sev2_bugs_color}; width:12px; height:12px"}
        %td.count
          = @camps.sev2_bugs
      %tr
        %td.market Team Sports
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@team_sports.sev1_bugs_color}; width:12px; height:12px"}
        %td.count
          = @team_sports.sev1_bugs
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@team_sports.sev2_bugs_color}; width:12px; height:12px"}
        %td.count
          = @team_sports.sev2_bugs
      %tr
        %td.market Swimming
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@swimming.sev1_bugs_color}; width:12px; height:12px"}
        %td.count
          = @swimming.sev1_bugs
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@swimming.sev2_bugs_color}; width:12px; height:12px"}
        %td.count
          = @swimming.sev2_bugs
      %tr
        %td.market Membership
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@membership.sev1_bugs_color}; width:12px; height:12px"}
        %td.count
          = @membership.sev1_bugs
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@membership.sev2_bugs_color}; width:12px; height:12px"}
        %td.count
          = @membership.sev2_bugs
      %tr
        %td.market Platform
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@platform.sev1_bugs_color}; width:12px; height:12px"}
        %td.count
          = @platform.sev1_bugs
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@platform.sev2_bugs_color}; width:12px; height:12px"}
        %td.count
          = @platform.sev2_bugs
      %tr
        %td.market Framework
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@framework.sev1_bugs_color}; width:12px; height:12px"}
        %td.count
          = @framework.sev1_bugs
        %td{:align => "center", :style => "text-align: -webkit-center;"}
          %div{:style => "background-color:#{@framework.sev2_bugs_color}; width:12px; height:12px"}
        %td.count
          = @framework.sev2_bugs

        %table#defect-removal-efficiency
          %thead
            %tr
              %th{:colspan => '4'} Defect Removal Efficiency
          %tbody
            %tr.overall-percentage
              %td{:colspan => '3', :rowspan => "3"}
                .big-title overall percentage program-wide
                .dre-big-value= @overall_dre
              %td.framework
                .title Framework
                .dre-value= @framework_dre
            %tr.market
              %td.platform.platform-overall-switch{:data => dre_platform_dre_path}
                .title Platform
                .dre-value= @platform_dre
            %tr.market
              %td.membership
                .title Membership
                .dre-value= @membership_dre
            %tr.market
              %td.endurance
                .title Endurance
                .dre-value= @endurance_dre
              %td.camps
                .title Camps
                .dre-value= @camps_dre
              %td.sports
                .title Team Sports
                .dre-value= @sports_dre
              %td.swimming
                .title Swimming
                .dre-value= @swimming_dre
          %tfoot
            %tr
              %td{:colspan => '4'} Target Rate - 5% or Lower

:javascript
  $(function(){
    $('td.platform.platform-overall-switch').click(function(){
      $.getScript($(this).attr("data"));
    });
  });