#overall-dre-table
  %table#product-bugs
    %thead
      %tr
        %th{:colspan => 5} Current Customer Impacting Production Bugs
    %tbody
      %tr
        %td
        %td
        %td Sev1
        %td
        %td Sev2
      %tr
        %td.market AMS
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0
      %tr
        %td.market ELS
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0
      %tr
        %td.market FUS/AUS
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0
      %tr
        %td.market Email
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0
      %tr
        %td.market Commerce
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0
      %tr
        %td.market Mobile
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0
        %td= image_tag(asset_path('green-light.png'))
        %td.count 0

        %table#defect-removal-efficiency
          %thead
            %tr
              %th{:colspan => '4'} Defect Removal Efficiency
          %tbody
            %tr.overall-percentage
              %td{:colspan => '3', :rowspan => "3"}
                .big-title platform overall percentage
                .dre-big-value= @platform_dre
              %td.framework
                .title Program Overall
                .dre-value= @overall_dre
            %tr.market
              %td.platform
                .title AMS
                .dre-value= @ams_dre
            %tr.market
              %td.membership
                .title ELS
                .dre-value= @els_dre
            %tr.market
              %td.non-market
                .title FUS/AUS
                .dre-value= @fus_aus_dre
              %td.camps
                .title Email
                .dre-value= @email_dre
              %td.sports
                .title Commerce
                .dre-value= @commerce_dre
              %td.endurance
                .title Mobile
                .dre-value= @mobile_dre
          %tfoot
            %tr
              %td{:colspan => '4'} Target Rate - 5% or Lower
= render 'platform_dre'
