= form_for [@project, @ci_mapping] do |f|
  -if @ci_mapping.errors.any?
    #error_explanation
      - @ci_mapping.errors.messages.each do |attr, msg|
        %span.help-inline{:id => "ci_mapping_#{attr}"}= msg[0]

  %fieldset
    %legend= title
    .clearfix
      = f.label :ci_value
      .input
        = f.text_field :ci_value
    .clearfix
      = f.label :test_suite
      .input
        = f.select :test_suite_id, options_from_collection_for_select(@project.test_suites, :id, :name)

    .actions
      = f.submit 'Save', :class => 'btn primary'
      = link_to 'Back', project_ci_mappings_path, :class => 'btn'
