!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type' }
  %body
    :css
      body{
        font-family: "Lucida Grande", Sans-serif;
        font-size: 100%;
        line-height: 1;
      }
      table {
        margin-bottom: 2em!important;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
      }
      table th {
        background: none repeat scroll 0 0 #242527;
        color: #FFFFFF;
        padding: 6px;
      }
      table td {
        padding: 5px;
        vertical-align: middle;
        text-align: center;
        line-height: 150%;
      }
      table tr,th,td {
        border: 1px solid #666;
      }
      li{
        list-style: none;
      }
      span.pass{
        font-weight: bold;
        color: green;
      }
      span.failed{
        font-weight: bold;
        color: red;
      }
      span.warning{
        font-weight: bold;
        color: orange;
      }
    %h3
      = "Test Round: #{@test_round} is just finished! Result is "
      %span{:class => @test_round.result}= "#{@test_round.result}."

    %table
      %tr.border
        %th Automation Script Name
        %th Result
        %th Service Info
        %th Environment
        
      - if @test_round.automation_script_results.nil? or @test_round.automation_script_results.count == 0
        %tr.border
          %td{:colspan => "4"}
            %h4 No data
      - else
        - @test_round.automation_script_results.each do |asr|
          %tr.border
            %td= link_to asr.name, "http://marquee.dev.activenetwork.com/test_rounds/#{@test_round.id}/automation_script_results/#{asr.id}"
            %td
              %span{:class => "#{asr.result.downcase}"}= asr.result.upcase
            %td
              - asr.target_services.each do |ts|
                %li= ts
            %td= asr.test_round.test_environment
    %p
      = "Click "
      = link_to "#{@test_round.project} #{@test_round}", "http://marquee.dev.activenetwork.com/projects/#{@test_round.project.id}/test_rounds/#{@test_round.id}"
      = " for more information."
    
    %br
    - if @test_round.automation_script_results.any?{|asr| asr.failed_cases.count > 0}
      %h4
        %span.failed Failed
        cases:
      %table
        %tr.border
          %th Automation Script
          %th Case Id
          %th Case Name
          %th Version
          %th Priority
        - @test_round.automation_script_results.each do |asr|
          - if asr.failed_cases.count > 0
            - rowspan = asr.failed_cases.count
            - apply_rowspan = true
            - asr.failed_cases.each do |acr|
              %tr.border
                - if rowspan > 0 and apply_rowspan
                  - apply_rowspan = false
                  %td{:rowspan => rowspan}= link_to asr.name, "http://marquee.dev.activenetwork.com/test_rounds/#{@test_round.id}/automation_script_results/#{asr.id}"
                %td= link_to acr.case_id, "http://marquee.dev.activenetwork.com/automation_script_results/#{asr.id}/automation_case_results/#{acr.id}"
                %td= acr.name
                %td= acr.version
                %td= acr.priority