
%table
  %tr
    %th Legend
    %th
    %th
    %th

  %tr.timecard
    %td{:class => "timecard-green"} Hours approved
    %td{:class => "timecard-yellow"} Hours submitted, need approval
    %td{:class => "timecard-pink"} Hours in Oracle, need submission
    %td{:class => "timecard-orange"} No Data on Marquee

%br

%h3= title
%table#timecard-list
  %thead
    %tr
      %th Name
      %th Manager
      %th.week= "#{@start_date} - #{@start_date + 6}"
      %th.week= "#{@start_date + 7} - #{@start_date + 13}"
      %th.week= "#{@start_date + 14} - #{@start_date + 20}"
      %th.week= "#{@start_date + 21} - #{@start_date + 27}"

  %tbody
    - if time_cards.nil? or time_cards.count == 0
      %tr.timecard
        %td{:colspan => "6"}
          %h4 No data
    - else
      - time_cards.each do |name, time_card|
        %tr.timecard
          %td= name
          %td= time_card[:manager]
          - if @week1 == "no-records"
            %td{:class => "timecard-orange"}
              N/A
          - else
            %td{:class => "timecard-#{time_card[:week1][:css_class]}"}
              = time_card[:week1][:amount]
          - if @week2 == "no-records"
            %td{:class => "timecard-orange"}
              N/A
          - else
            %td{:class => "timecard-#{time_card[:week2][:css_class]}"}
              = time_card[:week2][:amount]
          - if @week3 == "no-records"
            %td{:class => "timecard-orange"}
              N/A
          - else
            %td{:class => "timecard-#{time_card[:week3][:css_class]}"}
              = time_card[:week3][:amount]
          - if @week4 == "no-records"
            %td{:class => "timecard-orange"}
              N/A
          - else
            %td{:class => "timecard-#{time_card[:week4][:css_class]}"}
              = time_card[:week4][:amount]

:javascript
  $(function(){
    $("#timecard-list").tablesorter();
  });