%h3 ActiveWorks Effort Analysis

%table
  %tr
    %th Category
    - 0.upto(20) do |i|
      - unless(@start_date + i).saturday? or (@start_date + i).sunday?
        %th= (@start_date +i)
  %tr
    %td Dev
    - 0.upto(20) do |i|
      - unless(@start_date + i).saturday? or (@start_date + i).sunday?
        %td= Report::JiraIssue.all_effort_at(@start_date + i, 'Dev Sub-Task')
    
  %tr
    %td QA
    - 0.upto(20) do |i|
      - unless(@start_date + i).saturday? or (@start_date + i).sunday?
        %td= Report::JiraIssue.all_effort_at(@start_date + i, 'QA Sub-Task')

  %tr
    %td Bug
    - 0.upto(20) do |i|
      - unless(@start_date + i).saturday? or (@start_date + i).sunday?
        %td= Report::JiraIssue.all_effort_at(@start_date + i, 'Bug Sub-Task')    

%table
  %tr
    %th Requirement
    %th Category
    %th Type
    - 0.upto(20) do |i|
      - unless (@start_date + i).saturday? or (@start_date + i).sunday?
        %th= (@start_date + i)

  - @requirements.each do |req|
    - next if req.estimation_by_issue_type('Dev Sub-Task') == 0
    %tr
      %td{:rowspan => "6"}= req.key
      %td{:rowspan => "3"} Dev
      %td Original Est.
      - 0.upto(20) do |i|
        - unless (@start_date + i).saturday? or (@start_date + i).sunday?
          %td{:class => req.status_at_date(@start_date + i)}= ChronicDuration.output(req.estimation_by_issue_type('Dev Sub-Task'))
    %tr
      %td Sub Tasks Done
      - 0.upto(20) do |i|
        - unless (@start_date + i).saturday? or (@start_date + i).sunday?
          %td= "#{req.sub_tasks_done_by_date_and_category(@start_date+i, 'Dev Sub-Task')} / #{req.sub_tasks_count_by_category('Dev Sub-Task')}"
    %tr
      %td Actual
      - 0.upto(20) do |i|
        - unless (@start_date + i).saturday? or (@start_date + i).sunday?
          %td= ChronicDuration.output(req.work_done_by_date_and_category(@start_date+i, 'Dev Sub-Task'))
    %tr
      %td{:rowspan => "3"} QA
      %td Original Est.
      - 0.upto(20) do |i|
        - unless (@start_date + i).saturday? or (@start_date + i).sunday?
          %td= ChronicDuration.output(req.estimation_by_issue_type('QA Sub-Task'))
    %tr
      %td Sub Tasks Done
      - 0.upto(20) do |i|
        - unless (@start_date + i).saturday? or (@start_date + i).sunday?
          %td= "#{req.sub_tasks_done_by_date_and_category(@start_date+i, 'QA Sub-Task')} / #{req.sub_tasks_count_by_category('QA Sub-Task')}"
    %tr
      %td Actual
      - 0.upto(20) do |i|
        - unless (@start_date + i).saturday? or (@start_date + i).sunday?
          %td= ChronicDuration.output(req.work_done_by_date_and_category(@start_date+i, 'QA Sub-Task'))

:css
  td.open{font-weight: bold; color: #ff4d40;}
  td.design{font-weight: bold; color: #ff9340;}
  td.coding{font-weight: bold; color: #36a7d9;}
  td.closed{font-weight: bold; color: #36d957;}
  td.test{font-weight: bold; color: #ba36d9;}
  td.review{font-weight: bold; color: #e63985;}
  td.in-progress{font-weight: bold; color: #ffb940;}
  td.verify{font-weight: bold; color: #3669d9;}